/****************************************
 General settings
*****************************************/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

li, p, a {
	font-family: 'Open Sans', sans-serif;	
	font-weight: 300;
}

/****************************************
 Header panel
*****************************************/
.headerPanel {
	height: 50px;
	width: 100%;
	position: relative;
	box-shadow:0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.headerLogo {
	float: left;
	margin: 5px 0 0 20px;
	height: 40px;
}

.headerLogo img {
	height: 100%;
	width: auto;
}

ul.mainMenu ul {
	display: none;
}

	ul.mainMenu li:hover > ul {
		display: block;
	}

	ul.mainMenu>li:hover>a{
		color: #1564ac;
	}

ul.mainMenu {
	background: #fff;
	float: right;
	right: 100px;
	list-style: none;
	position: relative;
	display: inline-table;
}
	ul.mainMenu:after {
		content: ""; 
		clear: both; 
		display: block;
	}

ul.mainMenu>li {
	float: left;
	height: 100%;
	margin: 0 15px 0 15px;
}
	ul.mainMenu>li:hover {
		padding-bottom: 9px;	
		border-bottom: 3px solid #1564ac;
	}

	ul.mainMenu ul>li a {
		color: black!important;
	}

		ul.mainMenu li:hover>a {
			color: #1564ac;
		}
	
	ul.mainMenu li a {
		display: block;
		color: #757575; 
		text-decoration: none;
	}

ul.mainMenu ul {
	background: #fff; 
	border-radius: 0px; 
	padding: 0;
	list-style-type: none;
	position: absolute; 
	z-index: 10;
	top: 100%;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}
	ul.mainMenu ul li {
		float: none; 
		border-bottom: 1px solid #eee;
		position: relative;
	}

	ul.mainMenu ul li:last-child {
		border-bottom: 0;
	}
		ul.mainMenu ul li a {
			padding: 10px 30px;
			color: #fff;
		}	
			ul.mainMenu ul li a:hover {
				background: #f1f1f1;
			}

/****************************************
 Banner homepage
*****************************************/
.mainBanner {
	color: #fff;
	width: 100%;
	height: 400px;
	background: url(banner.png);
	padding: 0;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.mainBanner p:first-child {
	position: relative;
	width: 900px;
	left: 200px;
	font-size: 50px;
	text-shadow: 1px 3px 7px #000;
	margin: 0;
	top: 60px;	
}

.mainBanner p:last-child {
	position: relative;
	top: 160px;
	width: 750px;
	left: 200px;
	font-size: 18px;
	text-shadow: 1px 2px 3px #000;
	-webkit-text-shadow: 1px 2px 3px #000;
	-o-text-shadow: 1px 2px 3px #000;
	-moz-text-shadow: 1px 2px 3px #000;
}

.mainBanner p span {
	color: #1b99ff;
}

.mainBanner a {
	text-decoration: none;
	color: #389fe5; 
}

.mainBanner a:hover {
	color: #9cccf3;
}



/****************************************
 Middle menu
*****************************************/

/* Home page footer	*/
div#middleMenuWrapper {
	position: relative;
	top: 30px; 
	height: 400px;
	width:1000px;
	left:50%;  
	margin: 0 0 0 -500px;  
}

.middleMenu {
	display: inline;
	float: left;
	width: 300px;
	margin-right: 30px; 
	text-align: center;
}

.middleMenu > img {
	padding: 10px 0 10px 0;
	height: 100px;
	width: auto;
}

.middleMenu h2 {
	font-weight: 400;
	font-size: 32px;
	margin: 15px 0 15px 0;
	color: #1564ac;
}

a.readMore {
	display: block;
	margin: 0 auto;
	background-color: #1564ac;
	font-size: 18px;
	width: 180px;
	padding: 10px 0 2px 0; 
	margin-top: 40px;
	color: white;
	text-decoration: none;
}

a.readMore:hover {
	background-color: #338bda;
}

a.readMore img{
	vertical-align: middle;
	padding-bottom: 6px;
	padding-left: 10px;
}


/****************************************
Footer menu
*****************************************/
#footer {
	position: relative;
	top: 80px;
	background-color: #1564ac;	
	width: 100%;
	height: 200px;
}