/****************************************
 General settings
*****************************************/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
	min-width: 1100px;
}

li, p, a {
	font-family: 'Open Sans', sans-serif;	
	font-weight: 300;
}

a {
	color: #1564ac;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/****************************************
 Header panel
*****************************************/
.headerPanel {
	height: 50px;
	width: 100%;
	min-width: 800px;
	position: relative;
	box-shadow:0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.headerLogo {
	float: left;
	padding: 8px;
	margin: 0 0 0 20px;
	height: 34px;
}

.headerLogo:hover{
	background-color: #f3f3f3;
}

ul.mainMenu ul {
	display: none;
}

	ul.mainMenu li:hover > ul {
		display: block;
	}

	ul.mainMenu>li:hover>a{
		color: #1564ac !important;
	}

ul.mainMenu {
	background: #fff;
	float: right;
	right: 100px;
	list-style: none;
	position: relative;
	display: inline-table;
}
	ul.mainMenu:after {
		content: ""; 
		clear: both; 
		display: block;
	}

ul.mainMenu>li {
	float: left;
	height: 100%;
	padding-bottom: 9px;
	margin: 0 15px 0 15px;
	border-bottom: 3px solid #fff;
}
	ul.mainMenu>li:hover {
			
		border-bottom: 3px solid #1564ac;
	}

	ul.mainMenu ul>li a {
		color: #757575!important;
	}

		ul.mainMenu li:hover>a {
			color: #1564ac;
		}
	
	ul.mainMenu li a {
		display: block;
		color: #757575 !important; 
		text-decoration: none;
	}

ul.mainMenu ul {
	background: #fff; 
	border-radius: 0px; 
	padding: 0;
	list-style-type: none;
	position: absolute; 
	z-index: 100;
	top: 100%;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}
	ul.mainMenu ul li {
		float: none; 
		border-bottom: 1px solid #eee;
		position: relative;
	}

	ul.mainMenu ul li:last-child {
		border-bottom: 0;
	}
		ul.mainMenu ul li a {
			padding: 10px 30px;
			color: #fff;
		}	
			ul.mainMenu ul li a:hover {
				background: #f1f1f1;
			}

/****************************************
 Banner homepage
*****************************************/
.mainBanner {
	color: #fff;
	width: 100%;
	height: 400px;
	background: url(images/banner.png) no-repeat;
	background-size: cover;		
	padding: 0;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}
.mainBanner p:first-child {
	position: relative;
	width: 900px;
	clear: both;
	min-width: 900px;
	left: 50%;
	font-size: 50px;
	text-shadow: 1px 3px 7px #000;
	margin-left: -430px;
	top: 60px;	
}

.mainBanner p:last-child {
	position: relative;
	top: 120px;
	width: 750px;
	min-width: 750px;
	left: 50%;
	margin-left: -430px;
	font-size: 16px;
	text-shadow: 1px 2px 3px #000, 1px 2px 3px #000;
}

.mainBanner p span {
	color: #1b99ff;
}

.mainBanner a {
	text-decoration: none;
	color: #389fe5; 
}

.mainBanner a:hover {
	color: #9cccf3;
}



/****************************************
 Middle menu
*****************************************/

div#middleMenuWrapper {
	position: relative;
	top: 30px; 
	height: 650px;
	width: 1000px;
	left:50%;  
	margin: 0 0 0 -500px;  
}

.middleMenu {
	display: inline;
	float: left;
	width: 290px;
	margin-right: 40px; 
	text-align: center;
}

.middleMenu > img {
	padding: 10px 0 10px 0;
	height: 100px;
	width: auto;
}

.middleMenu h2 {
	font-weight: 400;
	font-size: 32px;
	margin: 15px 0 15px 0;
	color: #1564ac;
}

.middleMenu p {
	text-align: justify;
}

p.contactUs:first-child {
	text-align: center;
}

p.contactUs span {
	font-weight: 400;
}

p.contactUs {
	padding-left: 30px;
}

a.readMore {
	display: block;
	margin: 0 auto;
	background-color: #1564ac;
	font-size: 18px;
	width: 180px;
	padding: 10px 0 2px 0; 
	margin-top: 40px;
	color: white;
	text-decoration: none;
}

a.readMore:hover {
	background-color: #338bda;
}

a.readMore img{
	vertical-align: middle;
	padding-bottom: 6px;
	padding-left: 10px;
}


/****************************************
Footer menu
*****************************************/
.footer {
	position: relative;
	background-color: #1564ac;	
	background-image: url(images/footerlogo.png);
	background-repeat: no-repeat;
	background-position: 50px 200px;
	width: 100%;
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.5);
}

/* Sticky footer*/
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -300px; /*footer size */
}

.push {
	height: 350px;  /* (footer size) + padding */
}
.footer {
	height: 300px; /*footer size */
}

	/****************************************
	Footer menu itself
	*****************************************/
	.footerMainMenu {
		position: relative;
		top: 30px;
		left: 50%;
		margin-left: -400px;	
		list-style: none;
		display:inline-table;
	}

	.footerMainMenu>li{
		display: block;
		min-width: 130px;
		float: left;
	}

	.footerMainMenu>li:first-child,{
		display: block;
		min-width: 140px;
		float: left;
	}

	.footerMainMenu>li>ul{
		display: block;
		list-style: none;
	}

	.footerMainMenu>li>ul{
		display: block;
		-webkit-padding-start: 0px;
	}

	.footerMainMenu a,
	.footerMainMenu li,
	.footerMainMenu ul,
	.footerMainMenu p {
		color: white;
		text-decoration: none;
	}

	.footerMainMenu a:hover {
		/*color: #ccc;*/
		text-decoration: underline;
	}

	.footerMainMenu>li>a{
		font-weight: 600;
	}

	/****************************************
	Social icons in footer
	*****************************************/

	.socialIcons {
		float: right;
		list-style: none;
		position: relative;
		display: inline-block;
		top: 10px;
		right: 40px;
		z-index: 10;
	}

	.socialIcons li {
		display: inline;
		float: left;
	}

	.socialIcons > li > a {
		display: block;
		margin: 5px;
		width: 38;
		height: 38;
		background-image: url(images/social_icons.png);
		text-indent: -99999px;
	}

	.socialIcons > li > a:hover {
		opacity: 0.8;
	}

	.socialFb {
		background-position: 0 0;
	}
	
	.socialTwitter {
		background-position: 0 76px;
	}

	.socialLinkedIn {
		background-position: 0 38px;
	}

	.footer p {
		text-align: center;
		width: 100%;
		position: relative;
		color: white;
		margin-top: 60px;
		font-size: 14px;
	}

/****************************************
 Latest news styling
*****************************************/
.mainbody {
	overflow: hidden;
	position: relative;
	width: 1000px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

.content {
	position: relative;
	float: left;
	width: 700px;			/* width of posts area */
}

.post-main h1 {
	padding: 20px 0 0 0;
	font-weight: 400;
	font-size: 30px;
	color: #1564ac;
	width: 700px;				
}

.post-main {
	margin-bottom: 40px;
}

.post-main span.author {
	color: #666;
	font-size: 12px;
	font-weight: 600;
}

.post-main span.date {
	color: #666;
	font-size: 12px;
	font-weight: 400;
}

.post img {
	position: relative;
	display: block;	
	margin-left: auto;
	margin-right: auto;

	max-width: 650px;
	max-height: 600px;
	clear: both;
}

.post {
	text-align: justify;
}

.mainbody > h1 {
	font-size: 40px;
	font-weight: 400;
	color: #666;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
}

.sidebar {
	margin-top: 60px;
	position: relative;
	width: 280px;
	height: 500px;
	border: 3px dashed #888;
	z-index: 10;
	float: right;
}

/****************************************
Blue line styling
*****************************************/
.blueline-top {
	position: relative;
	width: 100%;
	height: 60px;
	z-index: 0;
	background: radial-gradient(50% 300px, circle, #157cda, #14426c);
	background: -webkit-radial-gradient(50% 300px, circle, #157cda, #14426c);
	box-shadow: inset 0  8px 8px -8px black, inset 0 -8px 8px -8px black;
}

