/****************************************
 General settings
*****************************************/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

li, p {
	font-family: 'Open Sans', sans-serif;	
	font-weight: 300;
}

/****************************************
 Header panel
*****************************************/
.headerPanel {
	height: 50px;
	width: 100%;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}

.headerLogo {
	float: left;
	margin: 5px 0 0 20px;
	height: 40px;
}

.headerLogo img {
	height: 100%;
	width: auto;
}

ul.mainMenu ul {
	display: none;
}

	ul.mainMenu li:hover > ul {
		display: block;
	}

	ul.mainMenu>li:hover>a{
		color: #00f;
	}

ul.mainMenu {
	background: #fff;
	float: right;
	right: 100px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	ul.mainMenu:after {
		content: ""; 
		clear: both; 
		display: block;
	}

ul.mainMenu>li {
	float: left;
	height: 100%;
	margin: 0 15px 0 15px;
}
	ul.mainMenu>li:hover {
		padding-bottom: 9px;	
		border-bottom: 3px solid #00f;
	}

	ul.mainMenu ul>li a {
		color: black!important;
	}

		ul.mainMenu li:hover>a {
			color: #00f;
		}
	
	ul.mainMenu li a {
		display: block;
		color: #757575; 
		text-decoration: none;
	}

ul.mainMenu ul {
	background: #fff; 
	border-radius: 0px; 
	padding: 0;
	list-style-type: none;
	position: absolute; 
	z-index: 10;
	top: 100%;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}
	ul.mainMenu ul li {
		float: none; 
		border-bottom: 1px solid #eee;
		position: relative;
	}

	ul.mainMenu ul li:last-child {
		border-bottom: 0;
	}
		ul.mainMenu ul li a {
			padding: 10px 40px;
			color: #fff;
		}	
			ul.mainMenu ul li a:hover {
				background: #f1f1f1;
			}

/****************************************
 Banner homepage
*****************************************/
.mainBanner {
	color: #fff;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 440px;
	top: 50px;
	background: url(banner1.png);
	padding: 0;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.mainBanner p {
	position: relative;
	top: 20px;
	width: 900px;
	left: 200px;
	font-size: 50px;
	text-shadow: 1px 3px 7px #000;
}

.mainBanner p span {
	color: #389fe5;
}

